<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <simpleshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kitchen\Smethod\Model\Carrier\Shipping</model>
                <name>Sample Shipping Method</name>
                <price>10.00</price>
                <title>Sample Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </simpleshipping>
       
            <Pickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kitchen\Smethod\Model\Carrier\Pickup</model>
                <name>Pickup method</name>
                <price>15.00</price>
                <title> Pickup  Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </Pickup>

             <dealerarrangeshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kitchen\Smethod\Model\Carrier\Dealerarrangeshipping</model>
                <name>Dealer Arrange Shipping </name>
                <price>15.00</price>
                <title>Dealer Arrange Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </dealerarrangeshipping>
        </carriers>
    </default>
</config>